<section class="add">
<form method="post" action="/add">
  <input type="text" name="task" placeholder="Task" />
  <input type="text" name="person" placeholder="Person" />
  <input type="text" name="context" placeholder="Context" />
  <input type="text" name="project" placeholder="Project" />
  <input type="text" name="due" placeholder="YYYY-MM-DD" />
  <input type="submit" value="Add Task" class="btn-normal" />
  <input type="reset" value="Clear Task" class="btn-warning" />
</form>
</section>
